html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.604);
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 18px;
    margin: 0;
    z-index: 1000;
    vertical-align: middle;
    padding: 0;
}

nav .menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    align-items: center;
}


nav ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    margin: 0 4rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

nav ul li a:after {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgb(2, 189, 251), hotpink);
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%;
}

nav ul li a:hover {
    color: white;
    font-weight: bold;
}


nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
    align-items: center;
}


nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: white;
    border-radius: 0.2rem;
}

.social-links {
    display: flex;
    align-items: center;
    margin-right: 4rem;
    color: white;
}

.social-links a {
    color: white;
    margin-right: 15px;
    font-size: 30px;
}

.social-links a:hover {
    transform: scale(1.2);
}


nav .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 4rem;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 1000;
    }

    nav .menu {
        display: flex;
        margin-top: 0.45rem;
        align-items: center;
    }

    nav ul {
        display: none;
        flex-direction: column;
        top: 100%;
        width: 100%;
        margin-top: 11.7px;
        margin-bottom: 0.25rem;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.604);
    }


    nav ul.open {
        display: flex;
    }


    nav ul li {
        width: 100%;
        text-align: center;
    }


    nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    .home-link {
        align-self: flex-start;
    }


    nav .nav-menu {
        width: 100%;
        /* Ensures the dropdown takes the full width of nav */
        align-items: center;
        /* Centers the items within the nav-menu */
        justify-content: center;
        /* Centers the dropdown menu horizontally */
    }

    .social-links {
        display: none;
        /* This line hides the social icons on smaller screens */
    }

    nav .profile-pic {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 1.5rem;
        margin-top: 0.5rem;
    }

    nav ul li a:after {
        display: none;
    }

}